@using VirheBT.Shared.Enums
<Card>
    <CardBody>
        <Row>
            <Column ColumnSize="ColumnSize.Is3">
                Created By:
            </Column>
            <Column ColumnSize="ColumnSize.Is8">
                Marek Nowak
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is3">
                Assigned To:
            </Column>
            <Column ColumnSize="ColumnSize.Is8">
                Marek Nowak
            </Column>
        </Row>
        <Divider></Divider>
        <Row>
            <Column ColumnSize="ColumnSize.Is3">
                Issue Status:
            </Column>
            <Column>
                <Select TValue="@IssueStatus" Style="width: 65%">
                    <SelectItem Value="@IssueStatus.ToDo">To Do</SelectItem>
                    <SelectItem Value="@IssueStatus.InProgress">In Progress</SelectItem>
                    <SelectItem Value="@IssueStatus.Done">Done</SelectItem>

                </Select>
            </Column>
        </Row>
        <Row Margin="Margin.Is2.OnY">
            <Column ColumnSize="ColumnSize.Is3">
                Issue Type:
            </Column>
            <Column>

                <RadioGroup TValue="string" Name="test" Color="Color.Light">
                    <Radio TValue="string" Value="@("red")" Style="color: red">
                        <label><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bug" /> <span>Bug</span></label>
                    </Radio>
                    <Radio TValue="string" Value="@("green")" Style="color: forestgreen">
                        <label><Icon Name="IconName.PlusCircle" /> <span>Feature</span></label>
                    </Radio>

                </RadioGroup>
            </Column>
        </Row>
        <Row Margin="Margin.Is2.OnY">
            <Column ColumnSize="ColumnSize.Is3">
                Issue Priority:
            </Column>
            <Column>

                <RadioGroup TValue="string" Name="colors" Color="Color.Light">
                    <Radio TValue="string" Value="@("red")" Style="color: darkgreen">
                        <label><Icon Name="IconName.ArrowUp" /> <span>Low</span></label>
                    </Radio>
                    <Radio TValue="string" Value="@("green")" Style="color: orange">
                        <label><Icon Name="IconName.ArrowUp" /> <span>Medium</span></label>
                    </Radio>
                    <Radio TValue="string" Value="@("blue")" Style="color: red">
                        <label><Icon Name="IconName.ArrowUp" /> <span>High</span></label>
                    </Radio>
                </RadioGroup>
            </Column>
        </Row>
    </CardBody>
</Card>


@code{
    int selectedValue;

    void OnSelectedValueChanged(int value)
    {
        selectedValue = value;
        Console.WriteLine(selectedValue);
    }
}