@*@page "/projects/{ProjectId:int}/editproject"*@
@using VirheBT.Infrastructure.Data.Models
<Modal @ref="editProjectModal">
    <AuthorizeView>
        <Authorized>

            <ModalContent Size="ModalSize.Large">
                <ModalHeader>

                    Edit @Name
                </ModalHeader>
                <ModalBody>

                    <Container>

                        <Row>
                            <Column ColumnSize="ColumnSize.Is6">
                                <Field>
                                    <FieldLabel>
                                        Project Name:
                                    </FieldLabel>
                                    <FieldBody>
                                        <TextEdit @bind-Text="@Name" Placeholder="Name..." />
                                    </FieldBody>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is6">
                                <Field>
                                    <FieldLabel>
                                        Maintainer:
                                    </FieldLabel>
                                    <FieldBody>

                                        <Autocomplete TItem="ApplicationUserDto" TValue="string"
                                                      Data="@allowedUsers"
                                                      TextField="@((item)=>item.Email)"
                                                      ValueField="@((item)=>item.Email)"
                                                      SelectedValue="@selectedSearchValue"
                                                      SelectedValueChanged="@SearchHandler"
                                                      @bind-SelectedText="selectedAutoCompleteText"
                                                      Placeholder="Search...">
                                            <NotFoundContent Context="ctx"> Not found </NotFoundContent>
                                        </Autocomplete>
                                    </FieldBody>
                                </Field>
                            </Column>
                        </Row>
                          <Row>
                               <Column ColumnSize="ColumnSize.Is6">
                               <Field>
                                    <FieldLabel>
                                       Project Status:
                                    </FieldLabel>
                                    <FieldBody>
                                        <Select TValue="@ProjectStatus" Style="width: 65%" @bind-SelectedValue="@ProjectStatus" >
                                            <SelectItem Value="@ProjectStatus.OnTrack">On Track</SelectItem>
                                            <SelectItem Value="@ProjectStatus.Finished">Finished</SelectItem>
                                            <SelectItem Value="@ProjectStatus.Canceled">Canceled</SelectItem>
                                        </Select>
                                     </FieldBody>
                                </Field>
                             </Column>
                           
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Field>
                                    <FieldLabel>
                                        Description:
                                    </FieldLabel>
                                    <FieldBody>
                                        <MemoEdit Rows="5" @bind-Text="@Description" />
                                    </FieldBody>
                                </Field>
                            </Column>
                        </Row>
                      
                    </Container>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Primary" Clicked="@OnEditAsync" Margin="Margin.Is1.OnX"> Edit project</Button>

                    <Button Color="Color.Secondary" Clicked="@HideModal"> Cancel</Button>
                </ModalFooter>
            </ModalContent>
        </Authorized>
    </AuthorizeView>
</Modal>

