@page "/project/{ProjectId:int}/issue/{IssueId:int}"
@using System.Collections.ObjectModel
@using VirheBT.Shared.Components
@using VirheBT.Shared.Enums
@using VirheBT.Infrastructure.Data.Models
<Row Padding="Padding.Is2.OnY" Style=" margin-bottom: 0px">
    <Column ColumnSize="ColumnSize.Is1">

        <Button Color="Color.Light" Size="Size.Large" Type="ButtonType.Link" To="@($"project/{ProjectId}/issues")">
            <Icon Name="IconName.ArrowLeft">Back</Icon>
        </Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is7">
        <Card Background="Background.Transparent" Style="border: none;">
            <TextEdit Size="Size.Large" @bind-Text="@Title" />
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4">

        <Button Size="Size.Medium" Float="Float.Right" Color="Color.Info" Clicked="@OnEditAsync">Save Changes</Button>
    </Column>
</Row>
<Divider Style="margin-top: 0px" Padding="Padding.Is0" />
<Row>
    <Column ColumnSize="ColumnSize.Is7">
        <Accordion>
            @*DESCRIPTION TEXT EDIT*@
            <Collapse Visible="@descSectionVisible">
                <CollapseHeader Padding="Padding.Is0">
                    <Button Clicked="@(()=>descSectionVisible = !descSectionVisible)" Style="width:100%">
                        Description
                        @if (descSectionVisible == true)
                        {
                            <Icon Float="Float.Right" Name="IconName.ArrowUp"></Icon>
                        }
                        @if (descSectionVisible == false)
                        {
                            <Icon Float="Float.Right" Name="IconName.ArrowDown"></Icon>
                        }
                    </Button>
                </CollapseHeader>
                <CollapseBody Style="height: 400px">
                    <MemoEdit Rows="10" @bind-Text="@Description"></MemoEdit>
                </CollapseBody>
            </Collapse>
            @*COMMENT SECTION*@
            <Collapse Visible="@commentSectionVisible">
                <CollapseHeader Padding="Padding.Is0">
                    <Button Clicked="@(()=>commentSectionVisible = !commentSectionVisible)" Style="width:100%">
                        Comments

                        @if (commentSectionVisible == true)
                        {
                            <Icon Float="Float.Right" Name="IconName.ArrowUp"></Icon>
                        }
                        @if (commentSectionVisible == false)
                        {
                            <Icon Float="Float.Right" Name="IconName.ArrowDown"></Icon>
                        }
                    </Button>
                </CollapseHeader>
                <CollapseBody>
                    <Button Margin="Margin.Is1.OnY" Color="Color.Info" @onclick="() => ShowModal()">Add Comment</Button>
                    @if (IssueComments != null)
                    {
                        @foreach (var comment in IssueComments)
                        {
                            <Card>
                                <CardBody Padding="Padding.Is2.OnY">
                                    <CardTitle>
                                        @comment.User.Email
                                        <span style="float:right">@comment.Created</span>
                                    </CardTitle>
                                    <CardText>
                                        @comment.Text
                                        <span style="float:right">
                                            @if (comment.User.Email == httpContextAccessor.HttpContext.User.Identity.Name)
                                            {
                                                <Button Color="Color.Info" @onclick="() => OnEditCommentAync(comment.CommentId)">Edit</Button>
                                                <Button Color="Color.Danger" @onclick="()=> OnDeleteCommentAsync(comment.CommentId)">Delete</Button>
                                            }
                                        </span>
                                    </CardText>
                                </CardBody>
                            </Card>
                        }
                    }



                </CollapseBody>
            </Collapse>
        </Accordion>
    </Column>
    <Column ColumnSize="ColumnSize.Is5">
        @*ISSUE DEATILS SECTION*@
        <Card>
            <CardBody>
                <Row>
                    <Column ColumnSize="ColumnSize.Is3">
                        Created By:
                    </Column>
                    <Column ColumnSize="ColumnSize.Is8">
                        @CreatedBy
                    </Column>
                </Row>
                <Row>
                    <Column ColumnSize="ColumnSize.Is3">
                        Assigned To:
                    </Column>
                    <Column ColumnSize="ColumnSize.Is8">
                        <Autocomplete TItem="ApplicationUser" TValue="ApplicationUser" Class="w-75"
                                      Data="@projectUsers"
                                      TextField="@((item)=>item.Email)"
                                      ValueField="@((item)=>item)"
                                      SelectedText="@AssignedUser?.Email"
                                      SelectedValue="@AssignedUser"
                                      SelectedValueChanged="@AssignedUserHandler" />
                    </Column>
                </Row>
                <Divider></Divider>
                <Row>
                    <Column ColumnSize="ColumnSize.Is3">
                        Issue Status:
                    </Column>
                    <Column>
                        <Select TValue="@IssueStatus" Style="width: 65%" @bind-SelectedValue="@IssueStatus">
                            <SelectItem Value="@IssueStatus.ToDo">To Do</SelectItem>
                            <SelectItem Value="@IssueStatus.InProgress">In Progress</SelectItem>
                            <SelectItem Value="@IssueStatus.Done">Done</SelectItem>
                        </Select>
                    </Column>
                </Row>
                <Row Margin="Margin.Is2.OnY">
                    <Column ColumnSize="ColumnSize.Is3">
                        Issue Type:
                    </Column>
                    <Column>
                        <RadioGroup TValue="IssueType" Name="test" Color="Color.Light" @bind-CheckedValue="@IssueType">
                            <Radio TValue="IssueType" Value="@(IssueType.Bug)" Style="color: red">
                                <label><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bug" /> <span>Bug</span></label>
                            </Radio>
                            <Radio TValue="IssueType" Value="@(IssueType.Feature)" Style="color: forestgreen">
                                <label><Icon Name="IconName.PlusCircle" /> <span>Feature</span></label>
                            </Radio>
                        </RadioGroup>
                    </Column>
                </Row>
                <Row Margin="Margin.Is2.OnY">
                    <Column ColumnSize="ColumnSize.Is3">
                        Issue Priority:
                    </Column>
                    <Column>

                        <RadioGroup TValue="IssuePriority" Name="colors" Color="Color.Light" @bind-CheckedValue="@IssuePriority">
                            <Radio TValue="IssuePriority" Value="@(IssuePriority.Low)" Style="color: darkgreen">
                                <label><Icon Name="IconName.ArrowUp" /> <span>Low</span></label>
                            </Radio>
                            <Radio TValue="IssuePriority" Value="(IssuePriority.Normal)" Style="color: orange">
                                <label><Icon Name="IconName.ArrowUp" /> <span>Normal</span></label>
                            </Radio>
                            <Radio TValue="IssuePriority" Value="@(IssuePriority.High)" Style="color: red">
                                <label><Icon Name="IconName.ArrowUp" /> <span>High</span></label>
                            </Radio>
                        </RadioGroup>
                    </Column>
                </Row>
            </CardBody>
        </Card>

        @*ISSUE HISTORY SECTION*@
        <Card Margin="Margin.Is2.OnY">
            <CardHeader>
                Isue History
            </CardHeader>
            <CardBody>
                <Table>
                    <TableBody>
                        @if (IssueHistory != null)
                        {
                            @foreach (var comment in IssueHistory)
                            {
                                <TableRow>
                                    <TableRowCell>@comment.User.Email</TableRowCell>
                                    <TableRowCell>@comment.ChangeType</TableRowCell>
                                    <TableRowCell>@comment.ChangeDate</TableRowCell>
                                </TableRow>

                            }
                        }

                    </TableBody>
                </Table>
            </CardBody>
        </Card>
    </Column>
</Row>


<Modal @ref="CommentModal">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Add Comment</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Your Comment:</FieldLabel>
                <MemoEdit Rows="5" @bind-Text="@CommentModalText" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Cancel</Button>
            <Button Color="Color.Primary" Clicked="@OnAddCommentAync">Add</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code{
    public Modal CommentModal { get; set; }
    bool descSectionVisible = true;
    bool commentSectionVisible = true;


    public void ShowModal()
    {
        CommentModal.Show();
    }

    private void HideModal()
    {
        CommentModal.Hide();
    }

}

<Snackbar @ref="successAlert" Color="SnackbarColor.Success">
    <SnackbarBody>
        Zapisano zmiany!
    </SnackbarBody>
</Snackbar>

<Snackbar @ref="failedAlert" Color="SnackbarColor.Danger">
    <SnackbarBody>
        Edycja nie powiodła się!
    </SnackbarBody>
</Snackbar>