@page "/projects"
@using VirheBT.Infrastructure.Data.Models
@using VirheBT.Shared.Enums
<Container Fluid="true" Margin="Margin.Is5.OnY" Padding="Padding.Is4.OnY" ElementId="projects">
    <Card WhiteText="false">
        <CardHeader>
            <CardTitle>Projects</CardTitle>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <DataGrid @ref="dataGrid"
                      TItem="ProjectDto"
                      Data="data"
                      Editable="@editable"
                      EditMode="@editMode"
                      Sortable="@sortable"
                      SortMode="@sortMode"
                      Filterable="@filterable"
                      ShowPager="@showPager"
                      SelectionMode="@selectionMode"
                      CommandMode="@commandsMode"
                      PageSize="10"
                      CurrentPage="currentPage"
                      PageChanged="(e) => currentPage = e.Page"
                      PagerPosition="DataGridPagerPosition.TopAndBottom"
                      Striped="false"
                      Bordered="true"
                      Hoverable="true"
                      Responsive="true"
                      Narrow="true"
                      RowRemoved="OnRowRemoved">

                <EmptyTemplate>
                    <div class="text-center">
                        No projects are found!
                    </div>
                </EmptyTemplate>

                <DataGridColumns>

                    <DataGridColumn TItem="ProjectDto" Field="@nameof(ProjectDto.ProjectId)" Caption="#" Sortable="true" Width="80px" TextAlignment="TextAlignment.Center" />

                    <DataGridColumn TItem="ProjectDto" Field="@nameof(ProjectDto.Name)" Caption="Title" Editable="false" Width="500px">
                        <CaptionTemplate>
                            <Icon Name="IconName.Tag" /> @context.Caption
                        </CaptionTemplate>

                        <DisplayTemplate>

                            <Link To=@($"projects/{context.ProjectId}") Style="text-decoration: none">
                            <Card Background="Background.Transparent" Style="height: 40px; border:none">
                                @context.Name
                            </Card>
                            </Link>
                        </DisplayTemplate>
                    </DataGridColumn>

                    <DataGridColumn TItem="ProjectDto"
                                    Field="@nameof(ProjectDto.Maintainer)"
                                    Caption="Maintainter" Editable="false" Width="300px" TextAlignment="TextAlignment.Center" HeaderTextAlignment="TextAlignment.Center" Sortable="true">
                        <CaptionTemplate>
                            <Icon Name="IconName.UserCheck" /> @context.Caption
                        </CaptionTemplate>
                        <DisplayTemplate>

                            <Link To=@($"projects/{context.ProjectId}") Style="text-decoration: none">
                            <Card Background="Background.Transparent" Style="height: 40px; border:none">
                                @context.Maintainer.FirstName @context.Maintainer.LastName
                            </Card>
                            </Link>
                        </DisplayTemplate>
                        <FilterTemplate>
                            @{
                                var selectedValue = @context.SearchValue ?? "*";
                                <Select TValue="string" SelectedValue="@selectedValue.ToString()" SelectedValueChanged="@(e => context.TriggerFilterChange(e == "*" ? "" : e.ToString()))">
                                    <SelectItem Value="@("michałek")">ME</SelectItem>
                                    <SelectItem Value="@("*")">All</SelectItem>

                                    @foreach (var item in data.Select(p => p.Maintainer).Distinct())
                                    {
                                        <SelectItem Value="@item">@item</SelectItem>
                                    }
                                </Select>
                            }
                        </FilterTemplate>
                    </DataGridColumn>

                    <DataGridColumn TItem="Project" Field="@nameof(Project.Status)" Caption="Status" Editable="false" Sortable="false" Width="100px" HeaderTextAlignment="TextAlignment.Center">
                        <CaptionTemplate>
                            <Icon Name="IconName.ExclamationTriangle" /> @context.Caption
                        </CaptionTemplate>
                        <DisplayTemplate>
                            <Link To=@($"projects/{context.ProjectId}") Style="text-decoration: none">
                            <Card Background="Background.Transparent" Style="height: 40px; border:none">
                                @{
                                    var item = (context as Project);
                                    if (item.Status == ProjectStatus.OnTrack)
                                    {
                                        <label style="color:cornflowerblue"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Spinner" /> <span>@context.Status</span></label>
                                    }
                                    if (item.Status == ProjectStatus.Canceled)
                                    {
                                        <label style="color:darkred"><Icon Name="IconName.ExclamationTriangle" /> <span>@context.Status</span></label>

                                    }
                                    if (item.Status == ProjectStatus.Finished)
                                    {
                                        <label style="color:green"><Icon Name="IconName.CheckCircle" /> <span>@context.Status</span></label>

                                    }

                                }
                            </Card>
                            </Link>
                        </DisplayTemplate>
                        <FilterTemplate>
                            @{
                                var selectedValue = @context.SearchValue ?? "*";
                                <Select TValue="string" SelectedValue="@selectedValue.ToString()" SelectedValueChanged="@(e => context.TriggerFilterChange(e == "*" ? "" : e.ToString()))">
                                    <SelectItem Value="@("*")">All</SelectItem>
                                    @foreach (var item in Enum.GetValues(typeof(ProjectStatus)))
                                    {
                                        <SelectItem Value="@item">@item</SelectItem>
                                    }
                                </Select>
                            }
                        </FilterTemplate>
                    </DataGridColumn>

                    <DataGridCommandColumn TItem="ProjectDto" Width="50px">
                        <ClearFilterCommandTemplate>
                            <Button Color="Color.Warning" Clicked="@context.Clicked">
                                <Icon Name="IconName.Brush" />
                            </Button>
                        </ClearFilterCommandTemplate>
                        <DeleteCommandTemplate>
                            <Button Clicked="async () => await OnRowRemoved(context.Item)" Color="Color.Danger" Style="display:none">
                                <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Trash" />
                            </Button>
                        </DeleteCommandTemplate>

                        <NewCommandTemplate>
                            <Button Color="Color.Success" Clicked="@context.Clicked" Style="display:none">New</Button>
                        </NewCommandTemplate>
                        <EditCommandTemplate>
                            <Link To=@($"projects/{context.Item.ProjectId}")>
                            <Button Color="Color.Primary">
                                <Icon Name="IconName.ArrowRight" />
                            </Button>
                            </Link>
                        </EditCommandTemplate>
                    </DataGridCommandColumn>
                </DataGridColumns>
            </DataGrid>
        </CardBody>
    </Card>
</Container>

