@page "/project/{ProjectId:int}/team"

@using VirheBT.Shared.Enums
@using VirheBT.Infrastructure.Data.Models
<AuthorizeView>
    <Container Fluid="true" Margin="Margin.Is5.OnY" Padding="Padding.Is4.OnY" ElementId="team">
        <Card WhiteText="false">
            <CardHeader>
                <CardTitle>MY TEAM</CardTitle>
            </CardHeader>
            <CardBody>
                @if(CanAddUser()) {
                <Card Margin="Margin.Is0.OnY" Padding="Padding.Is0.OnY" Style="border: none">
                    <CardBody Padding="Padding.Is0">
                        <Row>

                            <Column ColumnSize="ColumnSize.Is1" Padding="Padding.Is2">
                                <CardTitle Alignment="TextAlignment.Right" Size="6">Add employee:</CardTitle>
                            </Column>

                            <Column ColumnSize="ColumnSize.Is4">


                                <Autocomplete TItem="ApplicationUserDto" TValue="string"
                                              Data="@appUsers"
                                              TextField="@((item)=>item.Email)"
                                              ValueField="@((item)=>item.Email)"
                                              SelectedValue="@selectedSearchValue"
                                              SelectedValueChanged="@MySearchHandler"
                                              Placeholder="Search..." />
                            </Column>
                            <Column ColumnSize="ColumnSize.Is6">
                                <Button Color="Color.Success" Clicked="@OnAddUserToProject">
                                    <Icon Name="IconName.PlusSquare"></Icon>
                                    ADD EMPLOYEE
                                </Button>
                            </Column>
                        </Row>
                    </CardBody>
                </Card>
                }
                <DataGrid @ref="dataGrid"
                          TItem="ApplicationUserDto"
                          Data="data"
                          Editable="@editable"
                          EditMode="@editMode"
                          Sortable="@sortable"
                          SortMode="@sortMode"
                          Filterable="@filterable"
                          ShowPager="@showPager"
                          SelectionMode="@selectionMode"
                          CommandMode="@commandsMode"
                          PageSize="15"
                          CurrentPage="currentPage"
                          PageChanged="(e) => currentPage = e.Page"
                          PagerPosition="DataGridPagerPosition.TopAndBottom"
                          Striped="false"
                          Bordered="true"
                          Hoverable="true"
                          Responsive="true"
                          Narrow="true"
                          RowRemoved="@OnRowRemoved">

                    <EmptyTemplate>
                        <div class="text-center">
                            No users are found!
                        </div>
                    </EmptyTemplate>

                    <DataGridColumns>
                        <DataGridColumn TItem="ApplicationUserDto" Field="@nameof(ApplicationUserDto.Email)" Caption="Name" Editable="false" Width="350px" Context="dataGridContext">
                            <CaptionTemplate>
                                <Icon Name="IconName.User" /> @dataGridContext.Caption
                            </CaptionTemplate>

                            <DisplayTemplate>
                                <Link To="#" @onclick="@(() => ShowUserDeatilsModal(dataGridContext.Id))" Style="text-decoration: none">
                                <Card Background="Background.Transparent" Style="height: 40px; border:none">
                                    @dataGridContext.FirstName
                                </Card>
                                </Link>
                            </DisplayTemplate>
                        </DataGridColumn>
                        <DataGridColumn TItem="ApplicationUserDto" Field="@nameof(ApplicationUserDto.Email)" Caption="Name" Editable="false" Width="350px" Context="dataGridContext">
                            <CaptionTemplate>
                                <Icon Name="IconName.User" /> @dataGridContext.Caption
                            </CaptionTemplate>

                            <DisplayTemplate>
                                <Link To="#" @onclick="@(() => ShowUserDeatilsModal(dataGridContext.Id))" Style="text-decoration: none">
                                <Card Background="Background.Transparent" Style="height: 40px; border:none">
                                    @dataGridContext.LastName
                                </Card>
                                </Link>
                            </DisplayTemplate>
                        </DataGridColumn>

                        <DataGridColumn TItem="ApplicationUserDto" Field="@nameof(ApplicationUserDto.Email)" Caption="Email" Editable="false" Width="300px" TextAlignment="TextAlignment.Center" HeaderTextAlignment="TextAlignment.Center" Sortable="true" Context="dataGridContext">
                            <CaptionTemplate>
                                <Icon Name="IconName.Mail" /> @dataGridContext.Caption
                            </CaptionTemplate>
                            <DisplayTemplate>
                                <Link To="#" @onclick="@(() => ShowUserDeatilsModal(dataGridContext.Id))" Style="text-decoration: none">
                                <Card Background="Background.Transparent" Style="height: 40px; border:none">
                                    @dataGridContext.Email
                                </Card>
                                </Link>
                            </DisplayTemplate>
                        </DataGridColumn>

                        <DataGridColumn TItem="ApplicationUserDto" Field="@nameof(ApplicationUserDto.UserRole)" Caption="Role" Editable="false" Sortable="false" Width="100px" HeaderTextAlignment="TextAlignment.Center" Context="dataGridContext">
                            <CaptionTemplate>
                                <Icon Name="IconName.UserTie" /> @dataGridContext.Caption
                            </CaptionTemplate>
                            <DisplayTemplate>

                                <Link To="#" @onclick="@(() => ShowUserDeatilsModal(dataGridContext.Id))" Style="text-decoration: none">
                                <Card Background="Background.Transparent" Style="height: 40px; border:none">
                                    @{
                                        var item = (dataGridContext as ApplicationUserDto);
                                        if (item.UserRole == UserRole.Admin)
                                        {
                                            <label style="color: darkred"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.UserCog" /> <span>@dataGridContext.UserRole</span></label>
                                        }
                                        if (item.UserRole == UserRole.Programmer)
                                        {
                                            <label style="color:green"><Icon Name="IconName.User" /> <span>@dataGridContext.UserRole</span></label>

                                        }
                                        if (item.UserRole == UserRole.Tester)
                                        {
                                            <label style="color: cornflowerblue"><Icon Name="IconName.User" /> <span>@dataGridContext.UserRole</span></label>

                                        }
                                        if (item.UserRole == UserRole.ProjectManager)
                                        {
                                            <label style="color:darkorange"><Icon Name="IconName.UserTie" /> <span>@dataGridContext.UserRole</span></label>

                                        }

                                    }
                                </Card>
                                </Link>
                            </DisplayTemplate>
                            <FilterTemplate>
                                @{
                                    var selectedValue = @dataGridContext.SearchValue ?? "*";
                                    <Select TValue="string" SelectedValue="@selectedValue.ToString()" SelectedValueChanged="@(e => dataGridContext.TriggerFilterChange(e == "*" ? "" : e.ToString()))">
                                        <SelectItem Value="@("*")">All</SelectItem>
                                        @foreach (var item in Enum.GetValues(typeof(UserRole)))
                                        {
                                            <SelectItem Value="@item">@item</SelectItem>
                                        }
                                    </Select>
                                }
                            </FilterTemplate>
                        </DataGridColumn>

                        <DataGridCommandColumn TItem="ApplicationUserDto" Width="70px" TextAlignment="TextAlignment.Center">
                            <ClearFilterCommandTemplate Context="dataGridContext">
                                <Button Color="Color.Warning" Clicked="@dataGridContext.Clicked">

                                    Clear
                                </Button>
                            </ClearFilterCommandTemplate>
                            <DeleteCommandTemplate Context="dataGridContext">
                                <Button Clicked="@dataGridContext.Clicked" Color="Color.Danger">
                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Trash" />
                                </Button>
                            </DeleteCommandTemplate>

                            <NewCommandTemplate Context="dataGridContext">
                                <Button Color="Color.Success" Clicked="@dataGridContext.Clicked" Style="display:none">New</Button>
                            </NewCommandTemplate>
                            <EditCommandTemplate Context="dataGridContext">
                                <Button Color="Color.Primary" Clicked="@dataGridContext.Clicked" Style="display:none">Edit</Button>
                            </EditCommandTemplate>
                        </DataGridCommandColumn>
                    </DataGridColumns>
                </DataGrid>
            </CardBody>
        </Card>
    </Container>
</AuthorizeView>
<UserDetails @ref="userDetailsRef" UserId="@userDetailsId"></UserDetails>

@code {
    UserDetails userDetailsRef;

    public string userDetailsId;
    public void ShowUserDeatilsModal(string userId)
    {
        userDetailsId = userId;
        userDetailsRef.ShowModal(userId);

    }


}